<div class="main__article words first-article">
    <div class="word-showcase">
        <div class="word-display"><%=locals.word%>
            <div class="level-display">N<%=locals.level%></div>
        </div>
        
        <div class="word-information">
            <p class="word-information__category">
                <span class="category-title">Meaning</span><span class="category-content"><%=locals.meaning%></span>
            </p>
            <p class="word-information__category">
                <span class="category-title">Reading</span><span class="category-content"><%=locals.furigana%></span>
            </p>
            <p class="word-information__category">
                <span class="category-title">Romaji</span><span class="category-content"><%=locals.romaji%></span>
            </p>
        </div>
    </div>
</div>